@page "/"
@using WhiteElephant.Application.Persons.DTOs
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage

@rendermode InteractiveServer

<PageTitle>White Elephant</PageTitle>

<div class="container w-25">
    <div class="row mb-3">
        <div class="form-group">
            <label class="mb-1">Add person:</label>
            <input type="text" @bind-value="@Name" @bind-value:event="oninput" @onkeydown="@OnKeyDown" class="form-control"/>
        </div>
    </div>

    <div class="row overflow-auto p-2" style="border: solid 1px black; height: 25vh;">
        <div>
            @foreach (var person in _persons)
            {
                <div class="container">
                    <div class="row m-2">
                        <p class="col m-auto">@person.Name</p>
                        <button class="col" @onclick="() => OnDeleteAsync(person.Id)">X</button>
                        
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {

    private List<PersonDto> _persons = [];
    
    public string Name { get; set; } = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }
        
        if (!await LocalStorage.ContainKeyAsync("persons"))
        {
            await LocalStorage.SetItemAsync("persons", new List<PersonDto>());
        }

        _persons = await LocalStorage.GetItemAsync<List<PersonDto>>("persons");
        
        StateHasChanged();

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task OnKeyDown(KeyboardEventArgs arg)
    {
        if (arg.Key == "Enter")
        {
            var personToAdd = new PersonDto(Guid.NewGuid(), Name);
            
            _persons.Add(personToAdd);
            
            await LocalStorage.SetItemAsync("persons", _persons);

            Name = string.Empty;
        }
    }

    private async Task OnDeleteAsync(Guid id)
    {
        var personToRemove = _persons.FirstOrDefault(x => x.Id == id);
        
        if (personToRemove is null)
        {
            return;
        }

        _persons.Remove(personToRemove);
        
        await LocalStorage.SetItemAsync("persons", _persons);
    }

}
